@import url("./layout/navbar.css");
@import url("./layout/header.css");
@import url("./layout/content.css");
@import url("./layout/content-header.css");
@import url("./layout/content-body.css");
@import url("./layout/content-footer.css");
@import url("./layout/dialog.css");

body {
  margin: 0px;
}
#app {
  position: relative;
  display: flex;
}
.panel-left {
  width: 200px;
  height: 100vh;
  background-color: #026b97;
}
.panel-right {
  /* position: absolute;
  left: 200px; */
  width: calc(100% - 200px);
  height: 100vh;
  top: 0px;
}
.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
