.store-dialog {
  display: block;
  width: 700px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #d1f1ff;
  background: white;
  top: 20%;
  z-index: 3;
}
.store-dialog input[type="text"],
.store-dialog textarea,
.store-dialog select {
  width: 82%;
  margin-left: 10px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  resize: vertical;
  outline-color: #6f78e1;
}
.form-body .input-requied .input-title {
  width: 16%;
  margin-top: 10px;
}
.store-dialog .form-header {
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
}
.store-dialog .form-header .title {
  float: left;
  margin-left: 15px;
  height: 100%;
}
.store-dialog .form-header .btn-x {
  float: right;
  height: 100%;
}
.store-dialog .form-header .btn-x .icon-x {
  background: url("../../content/icon/common-icon.png") no-repeat -1104px -130px;
  width: 12px;
  height: 11px;
  margin-right: 15px;
}
.store-dialog .form-header .btn-x .icon-x:hover {
  cursor: pointer;
}

.store-dialog .form-body {
  width: 100%;
  height: 475px;
}
.store-dialog .form-body .input-requied {
  width: 100%;
  display: flex;
  margin-bottom: 23px;
  position: relative;
}
#store-address {
  height: 10vh !important;
}

.store-dialog .form-body .store-left {
  float: left;
  display: flex;
  width: 50%;
}
.store-dialog .form-body .store-right {
  float: right;
  display: flex;
  width: 48%;
}
.store-left .input-title {
  width: 34%;
  margin-top: 16px;
}
.store-right .input-title {
  width: 23%;
  margin-top: 16px;
  margin-right: 26px;
}
.input-notrequied {
  width: 66% !important;
  margin-left: 4px !important;
  margin-top: 10px !important;
}

.store-dialog .form-footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #bbbbbb;
  background-color: white;
}
.store-dialog .form-footer .store-left {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  /* width: 15%; */
  color: #00577b;
}
.store-dialog .form-footer .store-right {
  /* width: 50%;
  margin-right: -70px; */
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.store-dialog .form-footer .store-right button {
  border-radius: 4px;
  margin-right: 16px;
  height: 40px;
  width: 80px;
  outline: none;
  border: none;
}
.store-dialog .form-footer .store-right .btn-save {
  width: 23%;
  background-color: #303679;
}
.store-dialog .form-footer .store-right .btn-save .icon-save {
  background: url("../../content/icon/common-icon.png") no-repeat -330px -129px;
  width: 11px;
  height: 11px;
  margin-right: 7px;
}
.store-dialog .form-footer .store-right .btn-add {
  width: 155px;
  background-color: white;
  border: 2px solid #777ba7;
}
.store-dialog .form-footer .store-right .btn-add .icon-add {
  background: url("../../content/icon/common-icon.png") no-repeat -29px -130px;
  width: 11px;
  height: 10px;
  margin-right: 7px;
}
.store-dialog .form-footer .store-right .btn-cancel {
  width: 80px;
  height: 40px;
  margin-right: 15px;
}
.store-dialog .form-footer .store-right .btn-cancel .icon-x {
  background: url("../../content/icon/common-icon.png") no-repeat -1104px -130px;
  width: 12px;
  height: 11px;
  margin-right: 7px;
}
.store-dialog .form-footer .store-right .btn-save:hover {
  cursor: pointer;
  background-color: #262b65;
}
.store-dialog .form-footer .store-right .btn-cancel:hover {
  cursor: pointer;
  background-color: #d1f1ff;
}
.store-dialog .form-footer .store-right .btn-add:hover {
  cursor: pointer;
  background-color: #777ba7;
}
.icon-help{
  background-image: url("../../content/icon/icon-question.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 20px;
}

.warn {
  display: block;
  width: 475px;
  /* height: 23vh; */
  position: absolute;
  border: 1px solid #dedede;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 9;
}
.warn .warn-header .warn-left #title {
  margin-left: 24px;
  font-weight: bold;
  font-size: 15px;
}
.warn .warn-header {
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e8e8e8;
}
.warn .warn-header .warn-left {
  float: left;
}
.warn .warn-header .warn-right {
  float: right;
  display: flex;
}
.warn .warn-header .warn-right:hover {
  cursor: pointer;
}
.warn .warn-header .warn-right .icon-x {
  background: url("../../content/icon/common-icon.png") no-repeat -1104px -130px;
  width: 12px;
  height: 11px;
  margin-right: 10px;
  margin-top: 15px;
}
.warn-body {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  width: 100%;
}
.warn-body .icon-warn {
  background-image: url(../../content/icon/icon-question.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 42px;
  margin-left: 24px;
}
#title-warn {
  margin-left: 10px;
  margin-right: 24px;
}
.warn .btn-footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #e8e8e8;
}
.warn .btn-footer .btn-warn {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.warn .btn-footer .btn-warn button {
  height: 40px;
  width: 80px !important;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.btn-footer .btn-cancel {
  background-color: white;
  height: 40px;
  width: 80px;
  outline: none;
  border-radius: 5px;
  margin-left: 16px;
}

.btn-footer .btn-delete {
  background-color: #e14c4c;
  padding-left: 10px;
  outline: none;
  color: white;
}
.btn-footer .btn-delete .icon-delete {
  background: url("../../content/icon/common-icon.png") no-repeat -1080px -129px;
  width: 10px;
  height: 12px;
  margin-right: 9px;
  margin-top: -3px;
}
.btn-footer .btn-cancel .icon-x {
  background: url("../../content/icon/common-icon.png") no-repeat -1104px -130px;
  width: 12px;
  height: 11px;
  margin-right: 10px;
}
.btn-footer .btn-cancel:hover {
  background-color: #dadce0;
  cursor: pointer;
}
.btn-footer .btn-delete:hover {
  background-color: #e41717;
  cursor: pointer;
}

.icon_err {
  background: url("../../content/icon/common-icon.png") no-repeat -303px -3px;
  width: 13px;
  height: 12px;
  position: absolute;
  right: 4%;
  top: 35%;
}
